.collabpress-project {
	background-color: #808080;
	float: left;
	height: 190px;
	margin: 0 5px 5px 0;
	padding: 5px;
	width: 190px;
	position: relative;
}

.collabpress-project .edit-project {
	position: absolute;
	bottom: .83em;
	right: .83em;
}
.edit-project a {
	color: #ccc;
}
.collabpress-project.new {
	background-color: #0072ff;
	text-align: center;
}

.collabpress-project.new .plus-sign {
	font-size: 3em;
	line-height: 1em;
	margin: .25em 0;
}


.collabpress .project-links {
	margin-right: 20px;
}

.collabpress .project-links a, .collabpress .overall-links a {
	padding: 5px;
}
.collabpress .project-links a.current, .collabpress .overall-links a.current {
	background-color: #ddd;
	font-weight: bold;
}

.collabpress .collabpress-project a {
	color: white;
	text-decoration: none;
}

.collabpress .menu-item-settings {
	display: none;
}

.collabpress .menu-item-handle {
	background: #f1f1f1;
	border: 1px solid #dfdfdf;
	position: relative;
	padding-left: 10px;
	height: auto;
	width: 400px;
	line-height: 35px;
	overflow: hidden;
	word-wrap: break-word;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

.collabpress .menu-item-handle .item-title {
	display: inline;
}

.collabpress #menu-to-edit .menu-item-invalid .menu-item-handle {
	background: #f6c9cc;
}

.collabpress .menu .sortable-placeholder {
	border-color: #bbb;
	background-color: #f5f5f5;
	border-width: 1px;
	border-style: dashed;
	height: 35px;
	width: 410px;
	margin-top: 13px;
}

.collabpress .menu-item-depth-0 {
	margin-left: 0;
}

.collabpress .menu-item-depth-1 {
	margin-left: 30px;
}

.collabpress .menu-item.complete .item-title, .collabpress-task h1.complete {
	text-decoration: line-through;
}

a.view-all-link {
	display: block;
	margin-top: 10px;
}

.overall-links {
	margin: 20px 20px 0 0;
}

.collabpress .projects {
	clear: both;
	padding: 20px 0 0;
}

.collabpress #menu-to-edit {
	margin: 0 0 30px 0;
	padding: 0;
}

.collabpress .sortable-placeholder {
	list-style-type: none;
}

.collabpress dl {
	margin: 0;
}

.collabpress .menu-item-bar {
	clear: both;
	line-height: 1.5em;
	position: relative;
	margin: 9px 0 0;
}

.collabpress .item-controls {
	font-size: 12px;
	position: absolute;
	right: 20px;
	top: -1px;
}

.collabpress-task h1 input[type="checkbox"] {
	margin-right: 5px;
	vertical-align: middle;
}

.toggle-view-completed-tasks {
	cursor: pointer;
}

.collabpress div.tabbed-list {
	overflow: hidden;
}

.collabpress div.tabbed-list ul {
	margin: 0;
	padding: 0;
}

.collabpress div.tabbed-list ul li {
	float: left;
	margin: 0;
	list-style: none;
}

.collabpress div.tabbed-list ul li.current {
	background-color:
}

.collabpress div.tabbed-list ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}

.collabpress div.tabbed-list ul li.current a {
	background-color: #eee;
	color: #555;
	opacity: .8;
	font-weight: bold;
}

.collabpress .project-breadcrumb h3 {
	display: inline-block;
}

.collabpress .project-breadcrumb a.edit-project-link {
	font-size: 90%;
	padding-left: 5px;
}

.collabpress h5 {
	margin: 0;
}

.collabpress-dashboard-widget {
	margin-bottom: 30px;
}

/* Activity ---------------------------------------- */
#cp_wp_dashboard_widget div.inside, #cp-recent-activity div.inside {
	margin: 0;
}
.cp-activity-list {
	position: relative;
}
.cp-activity-list p {
	font-size: 11px;
	margin: 6px 6px 8px;
}
.cp-activity-list .even {
	background-color: #FFFFE0;
}
.cp-activity-list .cp-activity-row.hover {
}
.cp-activity-row {
	margin:0;
	padding: 2px 10px;
	overflow: hidden;
}
.cp-activity-list .cp-activity-author {
	float:left;
	margin:5px 0;
}
.cp-activity-list .cp-activity-wrap {
	overflow:hidden;
	word-wrap:break-word;
	margin: 6px 0;
}
.cp-activity-list .cp-activity-wrap blockquote, .cp-activity-list .cp-activity-wrap blockquote p {
	display:inline;
	margin:0;
	padding:0;
}

/* Calendar ---------------------------------------- */
#cp-calendar-wrap {
	padding: 10px;
}
#cp-calendar-wrap h3 {
	font-size: 1.5em;
	font: italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}
.cp_previous_month {
	float: left; padding: 10px 0;
}
.cp_next_month {
	float: right;
	padding: 10px 0;
}
table.calendar {
	border-left: 1px solid #f1f1f1;
	width: 100%;
	background: #fff;
}
tr.calendar-row	{}
td.calendar-day	{
	min-height:80px;
	font-size:11px;
	position:relative;
}

div.calendar-day {
	height:80px;
}

td.calendar-day:hover {
	background:#eceff5;
}

td.calendar-day-np {
	background:#eee;
	min-height:80px;
}

div.calendar-day-np {
	height:80px;
}

td.calendar-day-head {
	background:#F5F5F5;
	font-weight:bold;
	text-align:center;
	width:120px;
	padding:5px;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
}

div.day-number {
	background: #f1f1f1;
	padding: 5px;
	color: #21759B;
	font-weight:bold;
	float:right;
	margin:-5px -5px 0 0;
	width:20px;
	text-align:center;
}

td.calendar-day, td.calendar-day-np {
	width: 120px;
	padding: 5px;
	border-bottom: 1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
}

/* Comments ---------------------------------------- */
#cp_task_comments_wrap {
	background: #ffffff;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 1px solid #DFDFDF;
	-moz-border-radius:4px 4px 4px 4px;
}
#cp_task_comments_wrap .even {
	background-color: #FFFFE0;
}
.cp_task_comment {
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 8px 10px;
}
.cp_task_comment .avatar {
	float: left;
	overflow: hidden;
	height: 64px;
	width: 64px;
	margin: 0;
	padding: 0 8px 8px 0;
}
.cp_task_comment_content {
	display: block;
	overflow: hidden;
}
.cp_task_comment_content p {
	margin: 0;
	padding: 0;
	line-height: 20px;
}
.cp_task_comment_content .cp_comment_author {
	font-weight: bold;
}

/* Footer */
.cp_about {
	text-align: center;
}